<% layout('layouts/boilerplate') %>

    <div class="row mt-3">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-3">
            <form method="POST" action="/campgrounds" novalidate class="validate-form">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input required placeholder="Campground Title" type="text" class="form-control" id="title"
                        name="campground[title]" aria-describedby="titleOfCampground">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input required placeholder="City, State" type="text" class="form-control" id="location"
                        name="campground[location]" aria-describedby="locationOfCampground">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="imageUrl" class="form-label">Image url</label>
                    <input required placeholder="Image Url" type="text" class="form-control" id="imageUrl"
                        name="campground[imageUrl]" aria-describedby="urlToTheCampgroundImage">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <label for="price" class="form-label">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input required id="price" type="text" class="form-control" placeholder="0.00" aria-label="price"
                        name="campground[price]" aria-describedby="price">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea required id="description" placeholder="Campground Description" class="form-control"
                        name="campground[description]" aria-label="Campground Description"></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Add Campground</button>
            </form>
        </div>
    </div>