<% layout('layouts/boilerplate') %>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1476041800959-2f6bb412c8ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Card image cap">
                <h4 class="card-title text-center mt-2">Log in</h4>
                <div class="card-body">
                    <form method="POST" action="/login" novalidate class="validate-form">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input autofocus required placeholder="Your username" type="text" class="form-control" id="username"
                                name="username" aria-describedby="username">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input required placeholder="Your password" type="password" class="form-control"
                                id="password" name="password" aria-describedby="password">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success w-100">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>